$body: #1e2124;
$bodyContrast: #e3e3e3;
$primary: #9387f7;
$primaryContrast: #101112;
$item: #282b30;
$itemTint: #42464d;
$itemShade: #141618;
$titemContrast: #f4f5f8;
$success: #a8e6cf;
$error: #f67280;
