.text-caption {
  font-size: 0.675em;
}
.text-button {
  font-size: 0.755em;
}
.text-body {
  font-size: 1em;
}
.text-subtitle {
  font-size: 1.25em;
}
.text-title {
  font-size: 1.5em;
}

.text-header {
  font-size: 2em;
}
